* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill-roy", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background: rgb(122, 233, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel {
  height: 80%;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
#ptop {
  padding: 0px 25%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  color: whitesmoke;
  background-color: rgb(35, 91, 72);
  display: flex;
}
.elem {
  align-items: center;

  /* width: 5%; */
  display: flex;
  font-size: 15px;
  gap: 5px;
}
.elem h3 {
  font-weight: 700;
}
.box {
  color: rgb(20, 168, 116);
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
}
#pbottom {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
 padding-top: 10px;
 padding-left: 20px;
 text-align: center;
 justify-content: center;
 align-items: center;


 
}
.bubble {
  width: 40px;
  height: 40px;
  background-color: #235b48;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.bubble:hover{
  background: white;
  color: black;
  cursor: pointer;
  border: 1px solid #dc2626
  ;
}
